<app-new-menu-landing></app-new-menu-landing>
<div class="container-ini">
  <div class="top-title">
    <div class="top-main-title">PROTEGEMOS LO QUE</div>
    <div class="top-main-subtitle">MÁS VALORAS.</div>
  </div>
  <div class="cuadro">
    <div class="marco">
      <div class="mensaje01">
        ¡Hola! Bienvenido a <br class="si-mobile" />Protecta Security
      </div>
      <hr />
      <div class="mensaje02">
        Ahora comprar tu SOAT electr&oacute;nico <br />
        con Protecta Security es r&aacute;pido, <br />seguro y viene con premio
      </div>
      <div class="container-adquiere-soat">
        <a (click)="trackClient()"
          ><span class="btn-orange"
            >Compra tu SOAT y participa de los sorteos</span
          ></a
        >
      </div>
    </div>
  </div>
  <div class="banner hidden-xs-down img-fluid">
    <!--  <section class="banner-top"></section> -->
    <section class="banner-bottom">
      <div class="mensaje">
        <p class="line-01"></p>
        <p class="line-02"></p>
      </div>
    </section>
  </div>
  <div class="container-canales">
    <section class="canales">
      <div class="canales-left">
        <p class="texto01">
          ¿Eres un canal aliado o un corredor de seguros de Protecta Security?
        </p>
        <p class="texto02">
          Buscamos crecer de la mano de nuestros socios de negocio, facilitando
          el acceso y la venta de nuestros seguros.
        </p>
      </div>
      <div class="canales-rigth">
        <a (click)="trackBroker()"
          ><span class="btn-secundario btn-orange"
            >Soy un Corredor de Negocios</span
          ></a
        >
        <a (click)="trackAllye()"
          ><span class="btn-secundario btn-gray">Soy un Canal Aliado</span></a
        >
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>
